/*
    Global components, body, and header

    colors (because I didn't use SASS):
        red: rgba(235,108,107,1)
        yellow: rgba(255,230,112,1)
        blue: rgba(0,164,227,1)
        purple: rgba(189,154,255,1)
        green: rgba(0,218,64,1)
*/

@mixin flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

header {
    height: 10vh;
    background-color: antiquewhite;
    overflow: hidden;
    display: inline-block;
}

header li {
    display: inline;
}

a {
    text-decoration: none;
}

/* 
    Everything dealing with the social buttons on the 
    left of the header
*/

#social {
    background-color: none;
    width: 20%;
    height: inherit;
    margin: 0 20% 0 0;
    text-align: ;
    display: inline-block;
    float: left;
}

#social ul {
    list-style-type: none;
    text-align: center;
    padding-top: 2vh;
}

#social li {
    text-align: center;
    margin-right: 2vw;
}

#social a {
    text-decoration: none;
    color: black;
    display: inline;
    transition: 0.5s color;
}

#social .facebook a:hover {
    color: rgba(235,108,107,1);
}

#social .twitter a:hover {
    color: rgba(0,164,227,1);
}

#social .instagram a:hover {
    color: rgba(189,154,255,1);
}

#social .tumblr a:hover {
    color: rgba(0,218,64,1);
}

/*
    Everything dealing with the logo in the center of 
    the header
*/

#logo {
    background-color: none;
    width: 20%;
    height: inherit;
    display: inline-block;
    padding-top: 1vh;
}

#logo img {
    width: 75%;
    padding-left: 12.5%;
    padding-top: 3%;
}

/*
    Navigation to other pages
*/

#navigation {
    width: 20%;
    height: inherit;
    background-color: none;
    display: inline-block;
    float: right;
    text-align: center;
    font-size: 1.2em;
}

#navigation p {
	padding-top: 1.5vh;
}

#navigation a {
    text-decoration: none;
    color: black;
    transition: color 0.5s;
}

#navigation a:hover {
	color: rgba(235,108,107,1);
}

/*
    Main page, this includes the definition of heartful
*/

main {
    height: 90vh;
    background-color: white;
    padding-top: 10vh;
}

.welcome {
    width: 60%;
    height: 70vh;
    background-color: white;
    margin-left: 20%;
    padding-top: 4vh;
    color: rgba(235,108,107,1);
}

.welcome h2 {
    text-align: center;
    font-size: 2em;
}

.welcome ol {
    display: block;
    margin-left: 27%;
    font-size: 1.4em;
    width: 60%;
    line-height: 2;
}

.welcome ol li {
    padding-top: 3vh;
}

.welcome a {
    text-decoration: none;
    color: rgba(235,108,107,1);
}

/*
    Lessons page, contains grid with all the lessons
*/

/* Code dealing with lessons page or lesson boxes */

.lessons {
    height: 100vh;
    background-color: antiquewhite;
    padding-top: 4vh;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.lessons h3 {
    margin-top: 0;
    text-align: center;
    padding-top: 2vh;
    margin-bottom: 1vh;
}

.lessons h5 {
    text-align: center;
}

.lesson {
    width: 25vw;
    height: 18vh;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 15px 10px rgba(0,0,0,0.05);
    flex: 1;
    margin: 35px;
}

.lesson a {
    color: black;
    transition: 0.5s color;
}

/* box shared attributes */

.border {
    margin: 0 auto;
    border-bottom: 2px solid black;
    width: 40%;
    transition: 0.5s border;
}

/* color */

#color:hover {
	color: rgba(235,108,107,1);
}

#color:hover .border {
    border-bottom-color: rgba(235,108,107,1);
}

/* balance */

#balance:hover {
    color: rgba(255,230,112,1);
}

#balance:hover .border {
    border-bottom-color: rgba(255,230,112,1);
}

/* emphasis */

#emphasis:hover {
    color: rgba(0,164,227,1);
}

#emphasis:hover .border {
    border-bottom-color: rgba(0,164,227,1);
}

/* movement */

#movement:hover {
    color: rgba(189,154,255,1);
}

#movement:hover .border {
    border-bottom-color: rgba(189,154,255,1);
}

/* pattern */

#pattern:hover {
    color: rgba(0,218,64,1);
}

#pattern:hover .border {
    border-bottom-color: rgba(0,218,64,1);
}

/* repitition */

#repitition:hover {
    color: rgba(235,108,107,1);
}

#repitition:hover .border {
    border-bottom-color: rgba(235,108,107,1);
}

/* proportion */

#proportion:hover {
    color: rgba(255,230,112,1);
}

#proportion:hover .border {
    border-bottom-color: rgba(255,230,112,1);
}

/* rhythm */

#rhythm:hover {
    color: rgba(0,164,227,1);
}

#rhythm:hover .border {
    border-bottom-color: rgba(0,164,227,1);
}

/* variety */

#variety:hover {
    color: rgba(189,154,255,1);
}

#variety:hover .border {
    border-bottom-color: rgba(189,154,255,1);
}

/* unity */

#unity:hover {
    color: rgba(0,218,64,1);
}

#unity:hover .border {
    border-bottom-color: rgba(0,218,64,1);
}

/*
    About page
*/

#about_logo {
	max-width: 20%;
    margin-left: 40%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#shapes_2 {
	position: absolute;
    margin: 3vh 80%;
    width: 275px;
    height: 200px;
    z-index: 10;
}

#shapes_1 {
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 10;
    margin: 3vh 5%;
}

.about {
    height: 100vh;
    background-color: white;
    padding-top: 2vh;
    color: rgba(0,0,0,.8);
}

.about h4 {
    text-align: justify;
    line-height: 2.5;
    font-size: 1.2em;
}

.about a {
    color: rgba(0,0,0,.8);
    transition: 0.5s color;
}

.about a:hover {
    color: rgba(235,108,107,1);
}

#text_box {
	width: 50%;
    margin-left: 25%;
}

/*
    Footer
*/

footer {
    height: 20vh;
    background-color: antiquewhite;
    text-align: center;
    padding-top: 7vh;
}

footer p {
    margin-top: 0;
    font-size: 1em;
}

#top {
    font-size: 1.1em;
    margin-bottom: 4vh;
}

#heart {
    transition: color 0.25s;
}

#heart:hover {
    color: rgba(235,108,107,1);
}

/*
    Stuff for other pages
*/

#lesson_header {
	background-color: antiquewhite;
}

.content {
    width: 60%;
    margin-bottom: 3vh;
    margin-top: 3vh;
    margin-left: 20%;
    line-height: 2;
}

#color_logo {
	width: 25%;
    margin-left: 37.5%;
    margin-top: 4vh;
}

#balance_logo {
	width: 25%;
    margin-left: 37.5%;
    margin-top: 4vh;
}

#emphasis_logo {
	width: 25%;
    margin-left: 37.5%;
    margin-top: 4vh;
}

#movement_logo {
	width: 25%;
    margin-left: 37.5%;
    margin-top: 4vh;
}

#pattern_logo {
	width: 25%;
    margin-left: 37.5%;
    margin-top: 4vh;
}

#proportion_logo {
	width: 25%;
    margin-left: 37.5%;
    margin-top: 4vh;
}

#repetition_logo {
	width: 25%;
    margin-left: 37.5%;
    margin-top: 4vh;
}

#rhythm_logo {
	width: 25%;
    margin-left: 37.5%;
    margin-top: 4vh;
}

#unity_logo {
	width: 25%;
    margin-left: 37.5%;
    margin-top: 4vh;
}

#variety_logo {
	width: 25%;
    margin-left: 37.5%;
    margin-top: 4vh;
}

#home_logo {
    background-color: none;
    width: 20%;
    height: inherit;
    display: inline-block;
    padding-top: 1vh;
}

#home_logo img {
    width: 15%;
    margin: 5% 0% 5% 20%;
}

#lessons_nav {
    width: 20%;
    height: inherit;
    background-color: none;
    display: inline-block;
    float: right;
    text-align: center;
    font-size: 1em;
    margin-top: 4vh;
}

#next {
    float: right;
    margin: -10% 20% 20% 0;
}